<!DOCTYPE html>
<html>
  <head>
    <title>Bus Details</title>
  </head>
  <body>
    <h1>Bus Details</h1>
    <table>
      <thead>
        <tr>
          <th>Bus Number</th>
          <th>Driver Name</th>
          <th>Bus Route</th>
          <th>Fees Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1234</td>
          <td>John Smith</td>
          <td>Vazhuthacaud via Palayam</td>
          <td>Fee Paid</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
